#heading{
    font-family: Candara;
}
.bg{    
    position: absolute;
    top:0%;
    left: 50%;
    vertical-align: left;
    width: 50%;
    height: 78%;
    display: flex;
    z-index: 0;
}
.card {
    position: relative;
    box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 5%;
    margin-top: 16%!important;
    align-self: center;
    text-align: left;
}

h1{
    font-family:Candara;
}

.img{
    width:40%;
}

.description{
    position: relative;
    margin-top: 4%;
    align-self: center;
    text-align: left;
}

#heading{
    font-family: Candara;
    
}

button {
    background-color: #138D75;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 0.3em;
}

button > i{
    color: white !important
}
.forum{
    position: relative;
    align-self: center;
    text-align: left;
    overflow: auto;
    
}
.vegetables{
    overflow: auto;
    display: flex;
}

.cursive{
    color:#138D75!important;
    font-family:Brush Script MT, Brush Script Std, cursive;
}
.green{
    color:#138D75!important;
    
}